@charset "UTF-8";
@font-face {
  font-family: "Roboto-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 4px solid #000;
  background: url(../img/bg-top.png) no-repeat;
}

header .menu {
  list-style: none;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  font-family: Roboto-Bold;
  border-bottom: 1px solid #e6e6e6;
}

header .menu li {
  display: inline-block;
  padding: 0 5px;
}

header .menu li a {
  color: #000;
  text-transform: uppercase;
}

header .menu li a:hover {
  text-decoration: none;
  color: #f79646;
}

header .phone .fa-phone {
  display: block;
  font-size: 32px;
  line-height: 65px;
  text-align: right;
}

header .phone ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

header .phone ul li {
  font-size: 20px;
  font-family: Roboto-Bold;
}

header .phone .support-btn {
  width: 177px;
  line-height: 38px;
  background: url("../img/support.png");
  padding: 0 25px;
  margin: 0 auto;
}

header .phone .support-btn a {
  color: #fff;
}

header .phone .support-btn a:hover {
  text-decoration: none;
}

header .nav-xs {
  margin: 15px 0;
}

header .nav-xs .navi {
  text-align: left;
  display: block;
  background: #e6e6e6;
  padding: 0 10px;
  color: #000;
  line-height: 34px;
}

header .nav-xs .navi:focus, header .nav-xs .navi:hover {
  text-decoration: none;
}

header .nav-xs .navi.active {
  background: #ffe7d0;
}

header .nav-xs .navi.active i {
  background: #fadbbd;
}

header .nav-xs .navi i {
  display: block;
  float: right;
  background: #ddd;
  padding: 5px;
  padding: 9px 10px;
}

header .nav-xs #nav-xs {
  display: none;
  background: #e6e6e6;
  border-top: 1px solid #ccc;
  padding-top: 5px;
}

header .nav-xs #nav-xs .smenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

header .nav-xs #nav-xs .smenu li {
  padding: 4px 10px;
}

header .nav-xs #nav-xs .smenu li:hover {
  background: #ffe7d0;
}

header .nav-xs #nav-xs .smenu li a {
  color: #000;
}

#content-home {
  position: relative;
  background: #ffe7d0 url(../img/usp-bg.png) center top no-repeat;
  padding: 50px 0;
  background-size: contain;
}

#content-home:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 4px;
  background-repeat: repeat-x;
  background-color: transparent;
  z-index: 80;
  left: 0;
  margin-top: -4px;
  background-image: url(../img/voln.png);
  bottom: 0;
}

#services {
  padding: 15px 0;
}

#services .service {
  background: #282e33;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin: 20px 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}

#services .service:hover {
  cursor: pointer;
  background: #f79646;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  o-transition: .3s;
  text-decoration: none;
}

#services .service a:hover {
  text-decoration: none;
}

#services .service .ramka {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 41px 0;
  height: 100%;
  max-height: 280px;
  min-height: 280px;
}

#services .service .ramka img {
  width: 100%;
  max-width: 147px;
}

#services .service .ramka .text {
  padding-top: 40px;
  color: #fff;
  text-transform: uppercase;
}

#news {
  background: #e6e6e6;
  padding: 20px 0;
}

#news .container {
  position: relative;
}

#news .h2 {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 30px;
}

#news .news-carousel .item-new {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 180px;
  min-height: 180px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow-cursor: pointer;
  padding: 5px;
}

#news .news-carousel .item-new a {
  text-decoration: none;
  color: #000;
}

#news .news-carousel .item-new .h4 {
  display: block;
  color: #000;
}

#news .news-carousel .item-new hr {
  margin-top: 10px;
  margin-bottom: 15px;
  border-color: #dbdbdb;
}

#news .news-carousel .item-new p {
  color: #000;
}

#news .news-carousel .item-new .date {
  text-align: left;
  display: block;
  position: absolute;
  bottom: 0;
}

#clients {
  padding: 20px 0;
}

#clients .container {
  position: relative;
}

#clients .h2 {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 30px;
}

#clients .clients-carousel .item-client {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow-cursor: pointer;
  padding: 5px;
}

#breadcrubms {
  background: url(../img/datacenter.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 20px;
}

#breadcrubms .breadcrumb {
  margin-bottom: 0;
  background: none;
}

#breadcrubms .breadcrumb .active {
  color: #2d2d2d;
}

.wrapper h1 {
  margin-top: 5px;
}

aside {
  border-radius: 10px;
  background: #f5f5f5;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 50px;
}

aside .h3 {
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;
}

aside .filter_title {
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

aside #price_filter .mse2_number_inputs {
  margin-top: 10px;
}

aside #price_filter .mse2_number_inputs .input-sm {
  margin-top: 2px;
}

aside .checkbox {
  margin: 10px 0;
  margin-left: 5px;
  position: relative;
  display: block;
  min-height: 20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

aside .checkbox input[type="checkbox"] {
  display: none;
}

aside .checkbox input[type="checkbox"]:checked + label::after {
  display: inline-block;
  position: absolute;
  margin-left: 0;
  content: "\2713";
  top: -1px;
  left: 4px;
}

aside .checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
}

aside .checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  margin-left: 0;
  border-radius: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  left: 0;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.catalog-row {
  margin-top: 20px;
}

.product-item {
  padding: 5px 5px;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 3px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 0px;
  margin-right: 15px;
  min-height: 495px;
  max-height: 495px;
}

.product-item:hover {
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #f79646;
}

.product-item:hover .btn-default {
  background: #f79646;
  color: #fff;
  text-shadow: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.product-item:hover a h5 {
  color: #f79646;
}

.product-item hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

.product-item img {
  width: 100%;
}

.product-item .introtext {
  font-size: 12px;
}

.product-item a {
  text-decoration: none;
}

.product-item a h5 {
  font-weight: bold;
  color: #000;
  min-height: 36px;
  max-height: 36px;
}

.product-item a:hover {
  color: #000;
}

.product-item a:hover h5 {
  color: #f79646;
}

.product-item .price-block {
  padding: 10px 2px;
}

.product-item .price-block .price {
  font-size: 18px;
  font-weight: bold;
}

.product-item .price-block .btn {
  margin-top: 5px;
  width: 100%;
}

.product-item .price-block .btn-default:hover, .product-item .price-block .btn-default:focus {
  background: #f79646;
  color: #fff;
  text-shadow: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #f79646;
  border-color: #f79646;
}

/*Страница продукта*/
#product h1 {
  font-size: 30px;
}

#product .h2 {
  display: block;
  margin-top: 10px;
}

#product .price-txt {
  margin-top: 4px;
  margin-bottom: 11px;
  margin-right: 9px;
}

#product .price .h3 {
  font-family: Roboto-Bold;
  margin-top: 0;
}

#product .basket {
  margin-top: 25px;
}

#product .basket-txt {
  line-height: 36px;
  margin: 0;
}

#product .basket .input-sm {
  height: 36px;
  margin-left: -5px;
}

#product #gallery {
  margin-top: 9px;
}

.tab-content {
  margin: 20px 0;
}

.left {
  float: left;
}

#fix-cart-tab {
  display: block;
  border: 1px solid #C8C8C8;
  position: fixed;
  top: 50%;
  right: 0;
  width: 35px;
  height: 130px;
  margin-left: -37px;
  margin-top: -1px;
  cursor: pointer;
  background: url(../img/cartimage.png) no-repeat;
  border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  z-index: 100;
}

#fix-cart-tab .count {
  position: absolute;
  top: -5px;
  left: -8px;
}

#fix-cart-tab .count span {
  display: block;
  font-size: 14px;
  background: #424f60;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
}

footer {
  background: #111;
  color: #fff;
  padding-top: 35px;
  padding-bottom: 10px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fff;
}

footer .nav-footer {
  margin-bottom: 25px;
}

footer .nav-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .nav-footer ul li {
  display: inline-block;
  margin: 0 5px;
}

footer .nav-footer ul li a {
  color: #fff;
  border-bottom: 1px #333 solid;
}

footer .nav-footer ul li a:hover, footer .nav-footer ul li a:focus {
  border-color: #fff;
  text-decoration: none;
  color: #f79646;
}

footer .h2 {
  margin-bottom: 5px;
  display: block;
}

footer small {
  color: #979797;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .owl-theme .owl-nav [class*='owl-'] {
    display: none;
  }
  footer .text-right, footer .copy {
    text-align: center;
  }
  footer .h2 {
    margin-top: 12px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .product-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .wrapper h1 {
    margin-top: 8px;
    font-size: 35px;
  }
  #product h1 {
    font-size: 25px;
    margin-top: 15px;
  }
  #product #gallery {
    margin-top: 0;
  }
  #product .basket .btn-info {
    margin: 15px auto 0 auto;
    display: block;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  header .phone {
    float: right;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  header .phone {
    float: none;
  }
  header .menu {
    margin-top: 12px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
  header .menu {
    margin-top: 25px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  header .menu {
    margin-top: 35px;
  }
}
