/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.owl-theme .owl-nav [class*='owl-']
		display: none
	footer
		.text-right, .copy
			text-align: center
		.h2
			margin-top: 12px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.product-item
		margin:
			left: 10px
			right: 10px
	.wrapper
		h1
			margin-top: 8px
			font-size: 35px
	#product
		h1
			font-size: 25px
			margin-top: 15px
		#gallery
			margin-top: 0
		.basket
			.btn-info
				margin: 15px auto 0 auto
				display: block
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	header
		.phone
			float: right


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	header
		.phone
			float: none
		.menu
			margin-top: 12px
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/
	header
		.menu
			margin-top: 25px

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	header
		.menu
			margin-top: 35px
