@import "fonts"

$robotoBold: Roboto-Bold
$openSans: OpenSansRegular
$black: #000
$orange: #f79646
$gray: #e6e6e6
$white: #fff
$lightGrey: #f4f4f4
$lightOrange: #ffe7d0
header
	padding: 
		top: 10px
		bottom: 10px
	border-bottom: 4px solid $black
	background: url(../img/bg-top.png) no-repeat
	.menu
		list-style: none
		margin:
			top: 35px
			left: 20px
			right: 0
			bottom: 0
		padding: 0
		font-family: $robotoBold
		border-bottom: 1px solid $gray
		li
			display: inline-block
			padding: 0 5px
			a
				color: $black
				text-transform: uppercase
				&:hover
					text-decoration: none
					color: $orange
	.phone
		.fa-phone
			display: block
			font-size: 32px
			line-height: 65px
			text-align: right
		ul
			margin: 0
			padding: 0
			list-style: none
			text-align: center
			li
				font-size: 20px
				font-family: $robotoBold
		.support-btn
			width: 177px
			line-height: 38px
			background: url('../img/support.png')
			padding: 0 25px
			margin: 0 auto
			a
				color: $white
				&:hover
					text-decoration: none
	.nav-xs
		margin: 15px 0
		.navi
			text-align: left
			display: block
			background: $gray
			padding: 0 10px
			color: $black
			line-height: 34px
			&:focus, &:hover
				text-decoration: none
			&.active
				background: $lightOrange
				i
					background: #fadbbd
			i
				display: block
				float: right
				background: #ddd
				padding: 5px
				padding: 9px 10px
		#nav-xs
			display: none
			background: #e6e6e6
			border-top: 1px solid #ccc
			padding-top: 5px
			.smenu
				margin: 0
				padding: 0
				list-style: none
				li
					padding: 4px 10px
					&:hover
						background: $lightOrange
					a
						color: #000
#content
	&-home
		position: relative
		background: #ffe7d0 url(../img/usp-bg.png) center top no-repeat
		padding: 50px 0
		background-size: contain
		&:after
			content: " "
			position: absolute
			width: 100%
			height: 4px
			background-repeat: repeat-x
			background-color: transparent
			z-index: 80
			left: 0
			margin-top: -4px
			background-image: url(../img/voln.png)
			bottom: 0
#services
	padding: 15px 0
	.service
		background: #282e33
		padding: 10px
		width: 100%
		height: 100%
		margin: 20px 0
		transition: .3s
		-webkit-transition: .3s
		-moz-transition: .3s
		-o-transition: .3s
		&:hover
			cursor: pointer
			background: $orange
			transition: .3s
			-webkit-transition: .3s
			-moz-transition: .3s
			o-transition: .3s
			text-decoration: none
		a:hover
			text-decoration: none
		.ramka
			border: 1px solid rgba(255,255,255,0.2)
			padding: 41px 0
			height: 100%
			max-height: 280px
			min-height: 280px
			img
				width: 100%
				max-width: 147px
			.text
				padding-top: 40px
				color: #fff
				text-transform: uppercase
#news
	background: $gray
	padding: 20px 0
	.container
		position: relative
	.h2
		text-transform: uppercase
		margin:
			top: 10px
			bottom: 30px
	.news-carousel
		.item-new
			position: relative
			width: 100%
			height: 100%
			max-height: 180px
			min-height: 180px
			background: $white
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
    	cursor: pointer
			padding: 5px
			a
				text-decoration: none
				color: $black
			.h4
				display: block
				color: $black
			hr
				margin:
					top: 10px
					bottom: 15px
				border-color: #dbdbdb
			p
				color: $black
			.date
					text-align: left
					display: block
					position: absolute
					bottom: 0	
#clients
	padding: 20px 0
	.container
		position: relative
	.h2
		text-transform: uppercase
		margin:
			top: 10px
			bottom: 30px
	.clients-carousel
		.item-client
			position: relative
			width: 100%
			height: 100%
			background: $white
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
    	cursor: pointer
			padding: 5px
#breadcrubms
	background: url(../img/datacenter.jpg) no-repeat center center
	background-size: cover
	margin-bottom: 20px
	.breadcrumb
		margin-bottom: 0
		background: none
		.active
			color: #2d2d2d
.wrapper
	h1
		margin-top: 5px
aside
	border-radius: 10px
	background: #f5f5f5
	padding:
		top: 15px
		right: 15px
		left: 15px
		bottom: 50px
	.h3
		display: block
		margin:
			top: 0px
			bottom: 10px
	.filter_title
		padding: 10px 0
		border:
			top: 1px solid #eee
			bottom: 1px solid #eee
	#price_filter
		.mse2_number_inputs
			margin-top: 10px
			.input-sm
				margin-top: 2px
	.checkbox
		margin: 10px 0
		margin-left: 5px
		position: relative
		display: block
		min-height: 20px
		user-select: none
		-moz-user-select: none
		-webkit-user-select: none
		& input[type="checkbox"]
			display: none
			&:checked + label::after
				display: inline-block
				position: absolute
				margin-left: 0
				content: "\2713"
				top: -1px
				left: 4px
		& label
			display: inline-block
			position: relative
			padding-left: 30px
			&::before
				content: ""
				display: inline-block
				position: absolute
				width: 20px
				height: 20px
				top: 0
				margin-left: 0
				border-radius: 0
				border: 1px solid #ccc
				border-radius: 3px
				background: #fff
				left: 0
				-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out
				-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out
				transition: border 0.15s ease-in-out, color 0.15s ease-in-out

.catalog-row
	margin-top: 20px
.product-item
	padding: 5px 5px
	position: relative
	cursor: pointer
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.2)
	box-shadow: 0 0 10px 1px rgba(0,0,0,.2)
	border: 1px solid #ddd
	-webkit-transition: .3s
	transition: .3s
	border-radius: 3px
	margin:
		top: 12px
		bottom: 12px
		left: 0px
		right: 15px
	min-height: 495px
	max-height: 495px
	&:hover
		-webkit-box-shadow: 0 0 20px 3px rgba(0,0,0,.2)
		box-shadow: 0 0 20px 3px rgba(0,0,0,.2)
		border: 1px solid $orange
		& .btn-default
			background: $orange
			color: #fff
			text-shadow: none
			-webkit-transition: .3s
			transition: .3s
		& a
			h5
				color: $orange
	hr
		margin: 
			top: 5px
			bottom: 10px
	img
		width: 100%
	.introtext
		font-size: 12px
	a
		text-decoration: none
		h5
			font-weight: bold
			color: $black
			min-height: 36px
			max-height: 36px
		&:hover
			color: $black
			h5
				color: $orange
	.price-block
		padding: 10px 2px
		.price
			font-size: 18px
			font-weight: bold
		.btn
			margin-top: 5px
			width: 100%
		.btn-default:hover, .btn-default:focus
			background: $orange
			color: #fff
			text-shadow: none
			-webkit-transition: .3s
			transition: .3s

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus
	background-color: $orange
	border-color: $orange
/*Страница продукта*/
#product
	h1
		font-size: 30px
	.h2
		display: block
		margin-top: 10px
	.price
		&-txt
			margin:
				top: 4px
				bottom: 11px
				right: 9px
		.h3
			font-family: $robotoBold
			margin-top: 0
	.basket
		margin: 
			top: 25px
		&-txt
			line-height: 36px
			margin: 0
		.input-sm
			height: 36px
			margin-left: -5px
	#gallery
		margin-top: 9px
.tab-content
	margin: 20px 0

.left
	float: left
#fix-cart-tab
	display: block
	border: 1px solid #C8C8C8
	position: fixed
	top: 50%
	right: 0
	width: 35px
	height: 130px
	margin-left: -37px
	margin-top: -1px
	cursor: pointer
	background: url(../img/cartimage.png) no-repeat
	border-radius: 6px 0 0 6px
	-webkit-border-radius: 6px 0 0 6px
	-moz-border-radius: 6px 0 0 6px
	z-index: 100
	.count
		position: absolute
		top: -5px
		left: -8px
		span
			display: block
			font-size: 14px
			background: #424f60
			color: #fff
			width: 20px
			height: 20px
			text-align: center
			border-radius: 20px
footer
	background: #111
	color: $white
	padding: 
		top: 35px
		bottom: 10px
	a
		color: $white
		&:hover
			color: $white
	.nav-footer
		margin-bottom: 25px
		ul
			margin: 0
			padding: 0
			list-style: none
			li
				display: inline-block
				margin: 0 5px
				a
					color: $white
					border-bottom: 1px #333 solid
					&:hover,&:focus
						border-color: $white
						text-decoration: none
						color: $orange
	.h2
		margin-bottom: 5px
		display: block
	small
		color: #979797

@import "media"